{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div
                class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
            <h1 class="mb-6 text-4xl font-bold text-gray-700">Profile de l'utilisateur</h1>
            <h3 class="mb-8 text-2xl font-bold text-gray-500">{{ user.username }}</h3>
            <a href="">
                <button class="p-2 rounded text-white bg-blue-500">
                    Modifier les informations du profile
                </button>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div
                class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
            <h1 class="mb-6 text-4xl font-bold text-gray-700">Modification de l'adresse email</h1>
            <h3 class="mb-8 text-2xl font-bold text-gray-500">{{ user.email }}</h3>
            <a href="">
                <button class="p-2 rounded text-white bg-blue-500">
                    Modifier l'adresse email
                </button>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <div
                class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
            <h1 class="mb-6 text-4xl font-bold text-gray-700">Modification de mon mot de passe</h1>
            <h3 class="mb-8 text-2xl font-bold text-gray-500">{{ '********' }}</h3>
            <a href="">
                <button class="p-2 rounded text-white bg-blue-500">
                    Modifier le mot de passe
                </button>
            </a>
        </div>
    </div>
    {% if user.isVerified() is same as false %}
        <div class="col-md-12">
            <div
                    class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
                <h1 class="mb-6 text-4xl font-bold text-gray-700">Confirmer mon adresse email</h1>
                <h3 class="mb-8 text-2xl font-bold text-gray-500">{{ '********' }}</h3>
                <a href="{{ path('user.send_email_verification') }}">
                    <button class="p-2 rounded text-white bg-yellow-500">
                        Envoyer un lien de confirmation d'email
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12">
        <div
                class="bg-zinc-50 px-6 py-20 text-center text-surface dark:bg-neutral-700 dark:text-white">
            <h1 class="mb-6 text-4xl font-bold text-gray-700">Zone dangereuse</h1>
            <h3 class="mb-8 text-2xl font-bold text-gray-500">{{ '********' }}</h3>
            <a href="">
                <button class="p-2 rounded text-white bg-red-500">
                    Suppression du compte
                </button>
            </a>
        </div>
    </div>
{% endblock %}

{% block title %}
    Profile {{ user.username }}
{% endblock %}

